@import 'tailwindcss';

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

@font-face {
  font-family: 'NumFont';
  src: url('./fonts/DMSans-Variable.ttf') format('truetype');
  unicode-range: U+0030-0039, U+002C, U+002E, U+0025; /* 0-9, ',', '.', '%' */
  font-display: swap;
}

@theme {
  --color-white: #ffffffcc;
  --color-candle-blue: #34ade4;
  --color-candle-red: #ff3636;

  --gradation-yellow: linear-gradient(to right, #e1ee2d, #eeb82d);
  --gradation-red: linear-gradient(-74deg, #ff367c, #ff3636);
  --gradation-blue_deep: linear-gradient(to right, #366cff, #7936ff);
  --gradation-yellow_bright: linear-gradient(to right, #ffcb94, #eeb82d);
  --gradation-blue: linear-gradient(to right, #34ace4, #346fe4);

  --color-opacity-100: #818ba600;
  --opacity-black: linear-gradient(-44deg, #000000, #0a0a0a);
}

body {
  margin: 0;
  font-family:
    'NumFont',
    'Pretendard Std Variable',
    'Pretendard Std',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@utility text-heading-18 {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}

@utility text-heading-24 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

@utility text-body {
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
}

@utility text-label-16 {
  font-weight: 700;
  font-size: 16px;
}

@utility text-label-18 {
  font-weight: 600;
  font-size: 18px;
}

@utility text-label-18r {
  font-weight: 400;
  font-size: 18px;
}
